@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Droidsans_400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Droidsans_700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
}

body, html
{
	width: 100%;
	height: 100%;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	color: rgba(243, 213, 16, 0.934);
	background-color: #000;
	overflow: hidden;
    text-align: center;
}
h2 {
    margin: 1em 0;
}

p {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    text-align: justify;
	margin: 0.8em 0;
}

.titles {
	position: absolute;
	width: 20em;
	height: 35em;
	bottom: 0;
	left: 50%;
	margin-left: -10em;
	font-size: 400%;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(400px) rotateX(23deg);
}

.titles:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
}

.titlecontent {
	position: absolute;
	top: 100%;
	animation: star-wars 30s ease-in 0.2s infinite;
}

@keyframes star-wars {
	0% { top: 100%; }
	100% { top: -150%; }
}
